h1 {
    color: rgb(225, 225, 225);
    font-size: 60px;
    font-family: Gloria Hallelujah, cursive;
    animation: animated-text 2s steps(20,end) 1s 1 normal both;
    white-space: nowrap;
    overflow: hidden; 
}
h2 {
    color: rgb(225, 225, 225);
    font-size: 60px;
    font-family: Gloria Hallelujah, cursive;
}
h3 {
    color: rgb(225, 225, 225);
    font-family: Gloria Hallelujah, cursive;
    animation: animated-text 2s steps(20,end) 2.5s 1 normal both;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
}
body {
    background-color: #080808;
    font-size: 18px;
    color: rgb(200,200,200);
}
hr {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
}
img {
    width: 100px;
}
.header-title{
    padding-top: 300px;
    padding-left: 20%;
    padding-right: 20%;
    
}
.header-body {
    padding-top: 100px;
    padding-bottom: 200px;
    
}
@keyframes card-1move {
    from {left: 0px;}
    to {left: 5%;}
    0%{transform: rotate(0);}
    100%{transform:rotate(10deg);}
}
@keyframes card-2move {
    from {left: 0px;}
    to {left: 5%;}
    0%{transform: rotate(0);}
    100%{transform:rotate(-10deg);}
}
.card-1 {
    background-color: rgb(13, 13, 13);
    width: 30%;
    position: relative;
    animation-name: card-1move;
    animation-duration: 10s;
    animation-delay: 3s;
}
.card-2 {
    background-color: rgb(13, 13, 13);
    width: 30%;
    position: relative;
    animation-name: card-2move;
    animation-duration: 10s;
    animation-delay: 3s;
}
.p-card-page {
    background-color: rgb(13, 13, 13);
    width: 40%;
    padding: 50px;
    position: relative;
    animation-name: card-1move;
    animation-duration: 10s;
    animation-delay: 3s;
}
.row-content {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 80px;
}
.row-icons {
    margin-left: 10%;
    padding-bottom: 60px;
}

  
