h1 {
    color: rgb(225, 225, 225);
    font-size: 60px;
    font-family: Gloria Hallelujah, cursive;
    animation: animated-text 2s steps(20,end) 1s 1 normal both;
    white-space: nowrap;
    overflow: hidden; 
}
h3 {
    color: rgb(225, 225, 225);
    font-family: Gloria Hallelujah, cursive;
    animation: animated-text 2s steps(20,end) 2.5s 1 normal both;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
}
body {
    background-color: rgb(8, 8, 8);
    font-size: 18px;
    color: rgb(200,200,200);
}
hr {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
}
img {
    width: 100px;
}
.header-title{
    padding-top: 400px;
    padding-left: 20%;
    padding-right: 20%;
    
}
.header-body {
    padding-top: 100px;
    padding-bottom: 200px;
    
}
.hover-box {
    background-color: rgb(13, 13, 13);
    border: 4px solid rgb(30, 30, 30);

}
.card-1{
    border-right: 4px solid rgb(30, 30, 30);
}
.p-card-page {
    border-left: 4px solid rgb(30, 30, 30);
}
.row-content {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 80px;
}
.row-icons {
    margin-left: 10%;
}

  
